<div class="container">
  <h1>Sockets</h1>
  <div class="form-field">
    <label>Player ID: </label>
    <input [(ngModel)]="playerId" />
  </div>

  <div>
    <button (click)="search()">Buscar</button>
  </div>

  <br>
  <div>
    <h3>Balance</h3>
    <h2>{{balance}}</h2>
    <h2>{{(currentBalance$ | async)?.result.data.item.amount}}</h2>
  </div>
  <br>

  <div class="form-field">
    <label for="">Monto: </label>
    <input [(ngModel)]="amount" />
  </div>

  <div>
    <button (click)="add()">+</button>
    <button (click)="substract()">-</button>
  </div>

  <app-button-amount
  [balance]="currentBalance$ | async"
  ></app-button-amount>

</div>